
<div ng-controller="login">
    <form ng-submit"">
	    <input placeholder="Username" name="username" class="" ng-model="login.username" required/>
	    <input placeholder="Password" type="password" name="password" class="" ng-model = "login.password" required/>
	    <button ng-click="loginUser()">Submit</button> <!-- a submit button -->
	</form>

</div>
<a href="#!register">Click here to register</a> <a href="#!reset">Forgot your password?</a>