<body>
<div class="postBody" background-color: black>
    <div class="userData" background-color: yellow>
        user data
        <a></a> <!-- Anchor tag for a users image-->
    </div>
    <div class="postText" background-color: blue>

        <div class="textImage" background-color: green>
            <a>image</a> <!-- Anchor tag for a posts image-->
        </div>
        <div class="textMessage" background-color: green>
            <p>text message</p>
        </div>
        
        <div class="likeCount" background-color: red>
            like count
        </div>
    </div>
</div>

</body>
<style>
body { }
.postBody 
{
white-space: nowrap;
display: inline-block;
position: relative; 
background-color: black;
height:35vh;
width:75vh;
}

.userData 
{
position: static;
background-color: yellow;
height:16vh;
width:14vh;
float:left;
}
.textImage 
{

background-color: green;
float: right;
height:12vh;
width:12vh;
}
.postText 
{

display: inline-block;
position: static;
background-color: blue;
height:100%;
width:82%;
}
.textMessage
{ 
margin-top: 16%;   
width: 100%;
height: 65%; 
background-color: gray;
}
.likeCount 
{
  
background-color: red;
    position:absolute;
    bottom:0;
    right:0;
height:10%;
width:20%;
}

</style>