<div ng-controller="register">
	<a href="#!login">Back to login</a>
	<form>
	    <input id="firstName" placeholder="First Name" name="firstName" ng-model="info.firstName" required/> <!-- First Name -->
	    <input id="lastName" placeholder="Last Name" name="lastName" ng-model="info.lastName" required/> <!-- Last Name -->
	    <input id="userName" placeholder="Username" name="username" ng-model="info.username" required/> <!-- UserName -->
	    <input id="password" placeholder="Password" type="password" name="password" ng-model="info.password" required/> <!-- Password TWICE -->
	    <input id="passwordCheck" placeholder="Retype Password" type="password" required/>
	    <input id="email" placeholder="Type in your Email" name="email" type="email" ng-model="info.email" required/> <!-- Email -->
	    <button ng-click="checkUsername()">Submit</button> <!-- a submit button -->
    </form>
		<span>{{uniqueError}}</span>
		<span>{{passwordError}}</span>
		<span>{{fieldsError}}</span>

</div>